<section id="module">
    <div class="container">
      
        <div class="main-body-top">
            <div class="main-body-top-sitebar"></div>
            <div class="main-body-top-mid"></div>
            <div class="main-body-top-sitebar"></div>
        </div>
        <div class="module-box pp">
          
            <div class="wrapper-title">
              <br>
              <input type="text" [(ngModel)]="type" (input)="search()" style="margin-left: 290px; width: 500px; height: 30px; border-color: gray; background-color: transparent; border-top: transparent; border-left: transparent; border-right: transparent;" />
              <img src="assets/images/search.png" alt="image" style="height: 30px; width: 30px;">
            </div>
            <br><br><br>
<table class="table">
    <thead><!--#710808-->
      <tr>
        
        <th scope="col">Username</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Num Person</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody >
        <ng-container *ngFor="let r of listreservation">
        <tr  *ngIf="r.user.email == email">
    
        <td>{{r.user.username}}</td>
        <td>{{r.phone}}</td>
        <td>{{r.date}}</td>
        <td>{{r.time}}</td>
        <td>{{r.person}}</td>
        <td>{{r.message}}</td>
        <td>
            <div class="link text-right submit">                   
            <button [routerLink]="['updatereservation',r.id]" type="submit" class="btn btn-primary hvr-ripple-out">Modify</button>
          </div>
        </td>
        <td>
            <div class="link text-right submit">                   
            <button type="submit" class="btn btn-primary hvr-ripple-out" (click)="delate(r.id)" >Delate</button>
          </div>
        </td>
      </tr>
        </ng-container>
    </tbody>
  </table>
  </div>
  </div>
  </section>

  