<!-- Start contact-us-->
<section id="contact-us">
    <div class="container">
        <div class="main-body-top">
            <div class="main-body-top-sitebar"></div>
            <div class="main-body-top-mid"></div>
            <div class="main-body-top-sitebar"></div>
        </div>
        
        <div class="contact-box">
            <div class="wrapper-title">
                <h3>Serving quality foods that will make you remember coming back to us</h3>
            </div>


           

            <div class="container-fluid mt--6">
                <div class="row">
                  <div class="col">
                    <div class="card border-0">
                    <div class="map-canvas" id="mapid" style="height: 500px;"></div>
                  </div>
                </div>
              </div>
              
            </div>
        </div><!-- .contact-box-->
        <div class="shadow">
            <img src="assets/images/shadow.png" alt="image">
        </div>
    </div><!-- .container-->
</section><!-- #contact-us-->
<!-- end contact-us-->