<!Doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- TITLE OF SITE -->
		<title>Redbowl Restaurant</title>
		
        <!-- responsive meta tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
	</head>
	
	<body>
	<!-- Start header -->
		<section id="header">
			<div class="logo">
				<a href="index.html"><img src="assets/images/red-logo.png" alt="image"/></a>
			</div>
			<div class="menu-top">
				<div class="logo-bottom"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li class="dropdown">
										  <a routerLink="/home">Home</a>
										 
										</li>
										<li class="dropdown">
										  <a routerLink="/food_galerie" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery</a>
										</li>
										
										<li class="dropdown">
										  <a routerLink="/menu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Food Menu</a>
										</li>
										
										<li><a routerLink="/our_chefs">Our Chefs</a></li>
										<li><a routerLink="/your_order" *ngIf ="test==true">Your Order Online</a></li>
										<li class="dropdown">
											<a *ngIf ="test==true">Resarvation</a>
											<ul class="dropdown-menu">
												<li><a routerLink="/reservate">Reservate</a></li>
												<li><a routerLink="/your_reservations">Your Reservations</a></li>
											</ul>
										</li>
										<li><a routerLink="/contact_us">Contact Us</a></li>
										
										<li><a routerLink="/register">Register</a></li>
										<li><a routerLink="/login" *ngIf ="test==false">Login</a></li>
										<li><a (click)="logout()" *ngIf ="test==true">Logout</a></li>
										<li><a  routerLink="/your_profile" *ngIf ="test==true"><i class="fa fa-user"></i></a></li>
										<li><a routerLink="/your_panier" *ngIf ="test==true">({{nbre}})<i class="fa fa-shopping-cart"></i></a></li>

									</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.container-fluid -->
						</nav><!-- /.navbar navbar-default -->
					</div><!-- /.coloum -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- #header -->
		<!-- End header -->
		
		
    <router-outlet></router-outlet>
	
		<!--start bottom-->
		<section id="bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-lg-4">
						<div class="bottom-box">
							<h3>Opening Hours</h3>
							<h4>11:45AM - 3PM to 6PM - 11PM</h4>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-4 col-lg-4">
						<div class="bottom-box">
							<h3>Resarvation</h3>
							<a href="reservation.html"><p><span>Resarvation For  </span>Click Here</p></a>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-4 col-lg-4">
						<div class="bottom-box">
							<h3>Redbowl Hotline</h3>
							<p>123456789, 05-8837681</p>
						</div>
					</div>
				</div><!--.row-->
			</div><!--.container-->
		</section><!--#bottom-->
		<!--end bottom-->
	
	
	
		<!--footer start-->
		<section id="footer" class="text-center">
			<div class="container">
				<div class="footer-content">
					<h4>REDBOWL RESTAURANT, Block-69/B, Road-30, West Dowtown, Miami, Florida</h4>
					<p>Redbowl Restaurant by <span>Themelan</span>, Built on Bootstrap Framework</p>
				</div>
				
				<div class="social-icon">
					<ul class="ch-grid">
						<li>
							<div class="ch-item ch-img-1">
								<div class="ch-info">
									<p><a href="#">Share<br>It</a></p>
								</div>
								<div class="ch-thumb"><a href="#"><i class="fa fa-facebook"></i></a></div>
							</div>
						</li>
						<li>
							<div class="ch-item ch-img-1">
								<div class="ch-info">
									<p><a href="#">Share<br>It</a></p>
								</div>
								<div class="ch-thumb"><a href="#"><i class="fa fa-twitter"></i></a></div>
							</div>
						</li>
						<li>
							<div class="ch-item ch-img-1">
								<div class="ch-info">
									<p><a href="#">Share<br>It</a></p>
								</div>
								<div class="ch-thumb"><a href="#"><i class="fa fa-youtube"></i></a></div>
							</div>
						</li>
						<li>
							<div class="ch-item ch-img-1">
								<div class="ch-info">
									<p><a href="#">Share<br>It</a></p>
								</div>
								<div class="ch-thumb"><a href="#"><i class="fa fa-pinterest"></i></a></div>
							</div>
						</li>
						<li>
							<div class="ch-item ch-img-1">
								<div class="ch-info">
									<p><a href="#">Share<br>It</a></p>
								</div>
								<div class="ch-thumb"><a href="#"><i class="fa fa-wifi"></i></a></div>
							</div>
						</li>
					</ul>
				</div>
			</div><!--.container-->
			
			<div class="scrollup">
				<a href="">Top</a>
				<img src="assets/images/red-top.png" alt="image"/>
			</div>	
		</section><!--#footer-->
		<!--end footer-->
	</body>
</html>