		<!--Start revolution-slider-->
		<section id="revolution">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- START REVOLUTION SLIDER ver. 2.2.4 -->
						<div class="rev_slider_wrapper">
							<div id="rev_slider_1_1" class="rev_slider" style="display:none;">
								<ul>
									<li data-transition="fade" data-slotamount="7" data-masterspeed="900" >
										<img src="assets/images/slide-01.jpg" alt="image" />
										<div class="tp-caption lfl"
											 data-x="-19"
											 data-y="408"
											 data-speed="300"
											 data-start="500"
											 data-easing="easeInSine"  ><img src="assets/images/slider/glow.png" alt="Image 1"></div>
										<div class="tp-caption very_large_text lft"
											 data-x="48"
											 data-y="261"
											 data-speed="800"
											 data-start="1700"
											 data-easing="easeOutBounce"  >Delicious</div>
										<div class="tp-caption medium_text lfr"
											 data-x="41"
											 data-y="441"
											 data-speed="300"
											 data-start="500"
											 data-easing="easeInSine"  >Serving quality foods that will make you remember coming back to us ! MORE & MORE !!</div>
										<div class="tp-caption randomrotate"
											 data-x="42"
											 data-y="350"
											 data-speed="300"
											 data-start="1100"
											 data-easing="easeInSine"  ><img src="assets/images/slider/L1.png" alt="Image 4"></div>
										<div class="tp-caption randomrotate"
											 data-x="42"
											 data-y="359"
											 data-speed="300"
											 data-start="1400"
											 data-easing="easeInSine"  ><img src="assets/images/slider/L2.png" alt="Image 5"></div>
									</li>
									<li data-transition="fade" data-slotamount="7" data-masterspeed="900" >
										<img src="assets/images/slide-02.jpg" alt="image" />
										<div class="tp-caption lfl"
											 data-x="-19"
											 data-y="408"
											 data-speed="300"
											 data-start="500"
											 data-easing="easeInSine"  ><img src="assets/images/slider/glow.png" alt="Image 1"></div>
										<div class="tp-caption very_large_text lft"
											 data-x="48"
											 data-y="261"
											 data-speed="800"
											 data-start="1700"
											 data-easing="easeOutBounce"  >Yummmi</div>
										<div class="tp-caption medium_text lfr"
											 data-x="41"
											 data-y="441"
											 data-speed="300"
											 data-start="500"
											 data-easing="easeInSine"  >Serving quality foods that will make you remember coming back to us ! MORE & MORE !!</div>
										<div class="tp-caption randomrotate"
											 data-x="42"
											 data-y="350"
											 data-speed="300"
											 data-start="1100"
											 data-easing="easeInSine"  ><img src="assets/images/slider/L1.png" alt="Image 4"></div>
										<div class="tp-caption randomrotate"
											 data-x="42"
											 data-y="359"
											 data-speed="300"
											 data-start="1400"
											 data-easing="easeInSine"  ><img src="assets/images/slider/L2.png" alt="Image 5"></div>
									</li>
									<li data-transition="fade" data-slotamount="7" data-masterspeed="900" >
										<img src="assets/images/slide-03.jpg" alt="image" />
										<div class="tp-caption lfl"
											 data-x="-19"
											 data-y="408"
											 data-speed="300"
											 data-start="500"
											 data-easing="easeInSine"  ><img src="assets/images/slider/glow.png" alt="Image 1"></div>
										<div class="tp-caption very_large_text lft"
											 data-x="48"
											 data-y="261"
											 data-speed="800"
											 data-start="1700"
											 data-easing="easeOutBounce"  >Fabolous</div>
										<div class="tp-caption medium_text lfr"
											 data-x="41"
											 data-y="441"
											 data-speed="300"
											 data-start="500"
											 data-easing="easeInSine"  >Serving quality foods that will make you remember coming back to us ! MORE & MORE !!</div>
										<div class="tp-caption randomrotate"
											 data-x="42"
											 data-y="350"
											 data-speed="300"
											 data-start="1100"
											 data-easing="easeInSine"  ><img src="assets/images/slider/L1.png" alt="Image 4"></div>
										<div class="tp-caption randomrotate"
											 data-x="42"
											 data-y="359"
											 data-speed="300"
											 data-start="1400"
											 data-easing="easeInSine"  ><img src="assets/images/slider/L2.png" alt="Image 5"></div>
									</li>
								</ul>
								<div class="tp-bannertimer"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div><!-- /.coloum -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /#revolution -->
		<!-- END REVOLUTION SLIDER -->
		
		
		
		<!-- Start slider-bottom-->
		<section id="slider-bottom">
			<div class="container">
				<div class="banner">
                    <img src="assets/images/banner3.png"  alt="image" />
                    <p>Welcome to Redbowl Restaurant</p>
                </div>
			</div><!-- .container-->
		</section><!-- #slider-bottom-->
		<!-- end slider-bottom -->




<!-- Start about-us-->
<section id="about-us">
    <div class="container">
        <div class="main-body-top">
            <div class="main-body-top-sitebar"></div>
            <div class="main-body-top-mid"></div>
            <div class="main-body-top-sitebar"></div>
        </div>
        <div class="about-us-box">
            <div class="wrapper-title">
                <h3>Serving quality foods that will make you remember coming back to us</h3>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="about-image">
                        <img src="assets/images/resto_1.jpg" alt="image"/>
                        <div class="philosophy">
                            <h1>Our Philosophy</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis ultricies turpis ac tincidunt. Sed scelerisque ante at leo scelerisque, sit amet commodo nulla cursus. Sed varius turpis non eleifend hendrerit. Quisque nec rutrum felis. Aliquam hendrerit mollis lectus at ornare. Praesent at tristique ante. Sed a magna eget augue hendrerit pharetra ac vel purus. Morbi dignissim erat ut tortor dignissim, vel tincidunt odio variusSed scelerisque ante at leo scelerisque, sit amet commodo nulla cursus. Sed varius turpis non eleifend hendrerit. Quisque nec rutrum felis.</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-12 col-sm-12">
                    <div class="image-box">
                        <img src="assets/images/resto_2.jpg" alt="image"/>
                        <div class="experience">
                            <h1>Our Experience</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis ultricies turpis ac tincidunt. Sed scelerisque ante at leo scelerisque, sit amet commodo nulla cursus. Sed varius turpis non eleifend hendrerit. Quisque nec rutrum felis. Aliquam hendrerit mollis lectus at ornare. Praesent at tristique ante. Sed a magna eget augue hendrerit pharetra ac vel purus. Morbi dignissim erat ut tortor dignissim, vel tincidunt odio variusSed scelerisque ante at leo scelerisque, sit amet commodo nulla cursus. Sed varius turpis non eleifend hendrerit. Quisque nec rutrum felis.</p>
                        </div>
                    </div>
                </div>
                
            </div><!--.row-->
        </div><!--.about-us-box-->
        <div class="shadow">
            <img src="assets/images/shadow.png" alt="image">
        </div>
    </div><!--.container-->
</section><!--#about-us-->
<!-- End about-us-->

